<div class="jumbotron">
  <div class="overlay">
    <div class="container text-center">
      <h1>Bienvenido al</h1>
      <h1>Sitio de compras</h1>
      <div><%= link_to "Iniciar Compra", products_path %></div>
    </div>
  </div>
</div>
