<% provide(:title, "Orden de compra") %>

<% if @bag_items.any? %>
  <h1>Orden de compra</h1>
  <div class="container">
    <div class="col-md-8">
      <div class="card">
        <table id="bag_items">
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Eliminar</th>
          </tr>
          <%= render @bag_items %>
        </table>
      </div>
    </div>
    <aside class="col-md-4">
      <section class="card">
        <dl>
          <dt>Producto Total:</dt>
          <dd>$<%= format_price(@shopping_bag.total) %></dd>
        </dl>
        <%= button_to "Pagar", new_order_path(payment: true), method: "get", class: "btn btn-primary", disabled: !@shopping_bag.enough_stock?  %>
      </section>
    </aside>
  </div>
<% else %>
  <h1>La orden de compra esta vacia.</h1>
<% end %>
