<table>
  <tr>
    <th>No. Orden</th>
    <th>Fecha de pedido</th>
    <th>Total</th>
    <th>Estatus</th>
    <th>Acciones</th>
  </tr>
  <%= render @orders, edit_dispatched: edit_dispatched %>
</table>
