<% provide(:title, "My orders") %>

<h1>Mis ordenes</h1>
<div class="container">
  <% if @orders.any? %>
    <%= render 'orders_table', edit_dispatched: false %>
    <%= will_paginate %>
  <% else %>
    <h2>No existen ordenes de compra</h2>
  <% end %>
</div>
